JWT_SECRET=4556b4d260fbbb8399729da4cc77576118ada1cc1aee3126c299d5043e8658b9

# PayHere
PAYHERE_MERCHANT_ID=1237971
PAYHERE_MERCHANT_SECRET=sandbox-secret-placeholder

TASK_SERVICE_PORT=8002
USER_SERVICE_PORT=8001
NOTIFICATION_SERVICE_PORT=8003
GATEWAY_SERVICE_PORT=8000

POSTGRES_USER_DB_NAME=TaskBridge
POSTGRES_TASK_DB_NAME=TaskService
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASS=highway55

# frontend -> in frontend/.env.local
NEXT_PUBLIC_GATEWAY_URL=http://localhost:8090
